<div class="card">
  <div class="item item-divider">
    Shopping list
  </div>
  <form class="list" ng-submit="addShoppingListItem()">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-plus-circled placeholder-icon"></i>
        <input type="text" placeholder="Add a new item" ng-model="itemInput">
      </label>
      <button class="button button-small" type="button" ng-click="clearShoppingList()">
        Clear list
      </button>
    </div>
  </form>
  <ul class="list">
    <li ng-repeat="item in shoppingList" on-hold="editItem(item)">
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        <span>
          {{item.value}}
        </span>
      </div>
      <div class="item row" ng-show="item.editMode">
        <span class="col">Quantity</span>
        <input class="col" type="number" value="3">
        <label class="item-select col col-50">
          <select>
            <option selected>Pieces</option>
            <option>Kilograms</option>
            <option>Grams</option>
          </select>
        </label>
        <button type="button" ng-click="closeEditMode(item)" class="button button-clear icon ion-close-circled"></button>
      </div>
    </li>
  </ul>
</div>
